body{
	background-color: #054782 !important;
}

.login {
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.form-login{
	background-color: snow;
	padding: .5em;
	border-radius: 1em;
	width:50%;
}


